@using SFA.DAS.RoatpAssessor.Web.ApplyTypes.Clarification
@model SFA.DAS.RoatpAssessor.Web.ViewModels.ApplicationSectorsViewModel
@{
    ViewBag.Title = $"Clarification - {@Model.Heading}";
    Layout = "_Layout";
}

<partial name="~/Views/ClarificationSectionReview/Pages/_Breadcrumb.cshtml" for="@Model" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-xl">
                @Model.Caption
            </span>

            <h1 class="govuk-heading-xl">@Model.Heading</h1>

            <partial name="~/Views/Shared/Pages/_ApplicationSummary.cshtml" for="@Model"/>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <ol class="app-task-list">
                <li>
                    <ul class="app-task-list__items govuk-!-padding-left-0">
                        @foreach (var sector in Model.SelectedSectors)
                        {
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                <a asp-action="ReviewSectorAnswers" asp-controller="ClarificationSectionReview" asp-route-applicationId="@Model.ApplicationId" asp-route-pageId="@sector.PageId" class="govuk-link" aria-describedby="pageid-@sector.PageId">
                                    @Html.Raw(sector.Title)
                                </a>
                            </span>
                            @if (sector.Status == ClarificationPageReviewStatus.InProgress)
                            {
                                <strong class="app-task-list__tag das-tag das-no-wrap" id="pageid-@sector.PageId">In progress</strong>
                            }
                            else if (sector.Status == ClarificationPageReviewStatus.Pass)
                            {
                                <strong class="app-task-list__tag das-tag das-tag--solid-green" id="pageid-@sector.PageId">Pass</strong>
                            }
                            else if (sector.Status == ClarificationPageReviewStatus.Fail)
                            {
                                <strong class="app-task-list__tag das-tag das-tag--solid-red" id="pageid-@sector.PageId">Fail</strong>
                            }
                            else
                            {
                                <strong class="app-task-list__tag das-tag das-no-wrap" id="pageid-@sector.PageId">Clarification</strong>
                            }
                        </li>
                        }
                    </ul>
                </li>
            </ol>

            <p class="govuk-body">
                <a asp-action="ViewApplication" asp-controller="ClarificationOverview" asp-route-applicationId="@Model.ApplicationId" class="govuk-link govuk-link--no-visited-state">
                    Go to application assessment overview
                </a>
            </p>
        </div>
    </div>
</main>