@using SFA.DAS.RoatpAssessor.Web.Domain;

@model SFA.DAS.RoatpAssessor.Web.ViewModels.ClarifierSectorDetailsViewModel;

@{
    ViewBag.Title = $"Clarification - {@Model.Heading}";
    Layout = "_Layout";
}

<partial name="~/Views/ClarificationSectionReview/Pages/_Breadcrumb.cshtml" for="@Model" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="~/Views/Shared/Partials/_ValidationSummary.cshtml" />

            <span class="govuk-caption-xl">
                @Model.Caption
            </span>

            <h1 class="govuk-heading-xl">@Model.Heading</h1>

            <partial name="~/Views/Shared/Pages/_ApplicationSummary.cshtml" for="@Model" />
        </div>
    </div>

    <partial name="~/Views/Shared/Partials/_SectorAnswers.cshtml" for="@Model.SectorDetails" />

    <partial name="~/Views/Shared/Pages/_ModerationOutcome.cshtml" for="@Model.ModerationOutcome" />

    @if (Model.ApplicationId != Guid.Empty)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="js-disable-on-submit" method="post" asp-action="ReviewSectorAnswers" asp-controller="ClarificationSectionReview">
                    <input type="hidden" asp-for="ApplicationId" />
                    <input type="hidden" asp-for="PageId" />
                    <input type="hidden" asp-for="Heading" />
                    <input type="hidden" asp-for="ClarificationRequired" />

                    @if (Model.ClarificationRequired)
                    {
                        <partial name="~/Views/ClarificationSectionReview/Pages/_ClarifiedAnswerText.cshtml" for="@Model" />
                        <partial name="~/Views/ClarificationSectionReview/Pages/_ApprovalSection.cshtml" for="@Model" />

                        <button class="govuk-button govuk-!-margin-right-3" type="submit">Save and continue</button>
                    }
                    else
                    {
                        <button class="govuk-button govuk-!-margin-right-3" type="submit">Continue</button>
                    }
                    <a class="govuk-link govuk-link--no-visited-state das-inline-button-link" asp-action="ReviewPageAnswers" asp-controller="ClarificationSectionReview" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceNumber="@SequenceIds.DeliveringApprenticeshipTraining" asp-route-sectionNumber="@SectionIds.DeliveringApprenticeshipTraining.YourSectorsAndEmployees">Skip this question</a>
                </form>
            </div>
        </div>
    }

</main>
