@model SFA.DAS.RoatpAssessor.Web.ViewModels.AssessorSectorDetailsViewModel;

@{
    ViewBag.Title = $"Assessor - {@Model.Heading}";
    Layout = "_Layout";
}

<partial name="~/Views/AssessorSectionReview/Pages/_Breadcrumb.cshtml" for="@Model" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="~/Views/Shared/Partials/_ValidationSummary.cshtml" />

            <span class="govuk-caption-xl">
                @Model.Caption
            </span>

            <h1 class="govuk-heading-xl">@Model.Heading</h1>

            <partial name="~/Views/Shared/Pages/_ApplicationSummary.cshtml" for="@Model" />
        </div>
    </div>
    
    <partial name="~/Views/Shared/Partials/_SectorAnswers.cshtml" for="@Model.SectorDetails" />

    @if (Model.ApplicationId != Guid.Empty)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="js-disable-on-submit" method="post" asp-action="ReviewSectorAnswers" asp-controller="AssessorSectionReview">
                    <input type="hidden" asp-for="ApplicationId" />
                    <input type="hidden" asp-for="PageId" />
                    <input type="hidden" asp-for="Heading" />

                    <partial name="~/Views/AssessorSectionReview/Pages/_ApprovalSection.cshtml" for="@Model" />

                    <button class="govuk-button" type="submit">Save and continue</button>
                </form>
            </div>
        </div>
    }

</main>


@functions {
    private string DecorateWithNotApplicable(string detail)
    {
        if (string.IsNullOrEmpty(detail))
            return "Not applicable";

        return detail;
    }
}