@using SFA.DAS.RoatpAssessor.Web.ApplyTypes

@model SFA.DAS.RoatpAssessor.Web.ViewModels.AssessorApplicationViewModel

@{
    ViewBag.Title = "Assessor evaluation";
    Layout = "_Layout";
}

<partial name="~/Views/Overview/_Breadcrumb.cshtml" for="@Model" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            @*
                                NOTE: This is for the 'Ready for Moderation' step
                                ModelState.AddModelError("IsAssessorApproved", "Please evaluate Assessor");
                            *@
                            <li><a sfa-validation-for="IsAssessorApproved"></a></li>
                        </ul>
                    </div>
                </div>
            }

            <h1 class="govuk-heading-xl">Application assessment overview</h1>

            <partial name="~/Views/Overview/_ApplicationSummary.cshtml" for="@Model" />
        </div>
    </div>

    @if (Model.Sequences.Any())
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <ol class="app-task-list">
                    @{ var index = 0; }
                    @foreach (var sequence in Model.Sequences)
                    {
                        index++;
                        <li>
                            <h2 class="app-task-list__section">
                                <span class="app-task-list__section-number">@index. </span>@sequence.SequenceTitle
                            </h2>
                            <ul class="app-task-list__items">
                                @foreach (var currentSection in sequence.Sections)
                                {
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name app-task-list__task-name--inactive">
                                            @if (currentSection.Status != null && currentSection.Status.Equals(AssessorSectionStatus.NotRequired, StringComparison.InvariantCultureIgnoreCase))
                                            {
                                                @currentSection.LinkTitle
                                            }
                                            else
                                            {
                                                <a id="@sequence.SequenceNumber.@currentSection.SectionNumber" asp-controller="SectionReview" asp-action="ReviewPageAnswers" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceNumber="@sequence.SequenceNumber" asp-route-sectionNumber="@currentSection.SectionNumber" class="govuk-link">@currentSection.LinkTitle</a>
                                            }
                                        </span>
                                        @if (!string.IsNullOrWhiteSpace(currentSection.Status))
                                        {
                                            var cssModifierClassName = Model.GetStatusCss(currentSection.Status);
                                            <strong class="govuk-tag @cssModifierClassName das-no-wrap">@currentSection.Status</strong>
                                        }
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">6. </span>Assessor outcome
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name app-task-list__task-name--inactive">
                                    @if (Model.IsReadyForModeration)
                                    {
                                        // TODO: Integrate with 'Ready for Moderation' action
                                        <a href="#">Ready for moderation</a>
                                    }
                                    else
                                    {
                                        <text>Ready for moderation</text>
                                    }
                                </span>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    }
</main>