@model SFA.DAS.RoatpAssessor.Web.ViewModels.DashboardViewModel

<ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item @(Model.CurrentPage == "NewApplications" ? "govuk-tabs__list-item--selected" : "")">
        <a class="govuk-tabs__tab" asp-action="NewApplications" asp-controller="Home">
            New (@Model.NewApplications)
        </a>
    </li>
    <li class="govuk-tabs__list-item @(Model.CurrentPage == "InProgressApplications" ? "govuk-tabs__list-item--selected" : "")">
        <a class="govuk-tabs__tab" asp-action="InProgressApplications" asp-controller="Home">
            In progress (@Model.InProgressApplications)
        </a>
    </li>
    <li class="govuk-tabs__list-item @(Model.CurrentPage == "ModerationApplications" ? "govuk-tabs__list-item--selected" : "")">
        <a class="govuk-tabs__tab" asp-action="ModerationApplications" asp-controller="Home">
            Moderation (@Model.ModerationApplications)
        </a>
    </li>
    <li class="govuk-tabs__list-item @(Model.CurrentPage == "ClarificationApplications" ? "govuk-tabs__list-item--selected" : "")">
        <a class="govuk-tabs__tab" asp-action="ClarificationApplications" asp-controller="Home">
            Clarification (@Model.ClarificationApplications)
        </a>
    </li>
    <li class="govuk-tabs__list-item @(Model.CurrentPage == "ClosedApplications" ? "govuk-tabs__list-item--selected" : "")">
        <a class="govuk-tabs__tab" asp-action="ClosedApplications" asp-controller="Home">
            Outcome
        </a>
    </li>
</ul>