@using SFA.DAS.AdminService.Common.Extensions
@using SFA.DAS.RoatpAssessor.Web.ApplyTypes.Apply

@model SFA.DAS.RoatpAssessor.Web.ViewModels.InClarificationApplicationsViewModel
@{
    ViewBag.Title = "Applications - Assessor";
    Layout = "_Layout";
}

<partial name="~/Views/Dashboard/_Breadcrumb.cshtml" />

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="~/Views/Shared/Partials/_ValidationSummary.cshtml" />
            <h1 class="govuk-heading-xl">
                RoATP assessor applications
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <partial name="_DashboardSearch" />

            <div class="govuk-tabs">
                <partial name="_DashboardNavigation.cshtml" />

                <div class="govuk-tabs__panel">
                    @if (Model.Applications != null && Model.Applications.Any())
                    {
                        <h2 class="govuk-heading-l">Clarification</h2>
                        <table class="govuk-table das-table--condensed das-table--responsive-wide">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Organisation name</th>
                                    <th class="govuk-table__header" scope="col">UKPRN</th>
                                    <th class="govuk-table__header" scope="col">Application reference number</th>
                                    <th class="govuk-table__header" scope="col">Provider route</th>
                                    <th class="govuk-table__header" scope="col">
                                        <sortable-column column-name="SubmittedDate" column-label="Application submitted date" default="true" default-order="Descending"></sortable-column>
                                    </th>
                                    <th class="govuk-table__header" scope="col">Clarification requested date </th>
                                    <th class="govuk-table__header   das-no-wrap" scope="col">
                                        <sortable-column column-name="ModeratorName" column-label="Moderator" default="true" default-order="Descending"></sortable-column>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var item in Model.Applications)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" data-label="Organisation name">
                                            <a class="govuk-link" asp-action="ViewApplication" asp-controller="ClarificationOverview" asp-route-applicationId="@item.ApplicationId">@item.OrganisationName</a>
                                        </td>
                                        <td class="govuk-table__cell" data-label="UKPRN">
                                            @item.Ukprn
                                        </td>
                                        <td class="govuk-table__cell" data-label="Application reference number">
                                            @item.ApplicationReferenceNumber
                                        </td>
                                        <td class="govuk-table__cell" data-label="Provider route">
                                            @item.ProviderRoute
                                        </td>
                                        <td class="govuk-table__cell" data-label="Application submitted date">
                                            @item.SubmittedDate.ToSfaShortDateString()
                                        </td>
                                        <td class="govuk-table__cell" data-label="Clarification requested date">
                                            @item.ClarificationRequestedDate.ToSfaShortDateString()
                                        </td>
                                        <td class="govuk-table__cell" data-label="Moderator">
                                            @item.ModeratorName
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="govuk-body-l">No applications to assess.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</main>