@using SFA.DAS.RoatpAssessor.Web.ApplyTypes.Apply
@model SFA.DAS.RoatpAssessor.Web.ViewModels.ModeratorOutcomeReviewViewModel

<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        @if (Model.Status == ModerationConfirmationStatus.Pass)
        {
            @Html.Raw("This application will pass and go to governance")
        }
            @if (Model.Status == ModerationConfirmationStatus.Fail)
        {
            @Html.Raw("This application will fail and go to governance")
        }
            @if (Model.Status == ModerationConfirmationStatus.AskForClarification)
        {
            @Html.Raw("Email <a class='govuk-link' href='mailto:" + @Model.ApplicantEmailAddress + "'>" + @Model.ApplicantEmailAddress + "</a> to ask for clarification.");
        }
        </strong>
    </div>

    <div class="govuk-form-group" sfa-anyvalidationerror-class="govuk-form-group--error">
        <fieldset class="govuk-fieldset">
            <span id="Status" class="govuk-error-message" asp-validation-for="Status"></span>

            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                @{
                var radioCheckedYes = Model.ConfirmStatus == "Pass" ? "checked" : "";
                var radioCheckedNo = Model.ConfirmStatus == "Fail" ? "checked" : "";
            }

            <!-- YES -->
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"
                type="radio"
                id="Yes"
                name="ConfirmStatus"
                value="Yes"
                data-aria-controls="conditional-OptionYes"
                @radioCheckedYes />
                <label class="govuk-label govuk-radios__label" for="Yes">
                    Yes
                </label>
            </div>
            <!-- /YES -->

            <!-- NO -->
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"
                type="radio"
                id="No"
                name="ConfirmStatus"
                value="No"
                data-aria-controls="conditional-OptionNo"
                @radioCheckedNo />
                <label class="govuk-label govuk-radios__label" for="No">
                    No
                </label>
            </div>
            <!-- /NO -->

        </div>
    </fieldset>
</div>