@using SFA.DAS.RoatpAssessor.Web.ApplyTypes.Assessor

@model SFA.DAS.RoatpAssessor.Web.ViewModels.ModeratorOutcomeViewModel

@{
    ViewBag.Title = "Moderation outcome";
    Layout = "_Layout";
}

<partial name="~/Views/ModeratorOutcome/_Breadcrumb.cshtml" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="~/Views/Shared/Partials/_ValidationSummary.cshtml" />

            <h1 class="govuk-heading-xl">What is the outcome for this application?</h1>

            <partial name="~/Views/ModeratorOutcome/_ApplicationSummary.cshtml" for="@Model" />
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table das-table das-table--responsive govuk-!-margin-bottom-9">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Outcome</th>
                    <th class="govuk-table__header" scope="col">Count</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Pass</td>
                    <td class="govuk-table__cell">@Model.PassCount</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell  govuk-tag app-task-list__tag das-tag das-tag--solid-red">Fail</td>
                    <td class="govuk-table__cell">@Model.FailCount</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    
    @if (Model.ApplicationId != Guid.Empty)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="js-disable-on-submit" method="post" asp-action="ReviewPageAnswers" asp-controller="ModeratorSectionReview">
                    <input type="hidden" asp-for="ApplicationId" />
                    
                    <partial name="~/Views/ModeratorOutcome/_ApprovalSection.cshtml" for="@Model" />

                    <button class="govuk-button" type="submit">Save and continue</button>
                </form>
            </div>
        </div>
    }
    @*@if (Model.Sequences.Any())
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <ol class="app-task-list">
                    @{ var index = 0; }
                    @foreach (var sequence in Model.Sequences)
                    {
                        index++;
                        <li>
                            <h2 class="app-task-list__section">
                                <span id="sequence-@sequence.SequenceNumber" class="app-task-list__section-number">@index. </span>@sequence.SequenceTitle
                            </h2>
                            <ul class="app-task-list__items">
                                @foreach (var currentSection in sequence.Sections)
                                {
                                    <li class="app-task-list__item">
                                        <span id="section-@sequence.SequenceNumber.@currentSection.SectionNumber" class="app-task-list__task-name app-task-list__task-name--inactive">
                                            @if (currentSection.Status != null && currentSection.Status.Equals(AssessorSectionStatus.NotRequired, StringComparison.InvariantCultureIgnoreCase))
                                            {
                                                @currentSection.LinkTitle
                                            }
                                            else
                                            {
                                                <a asp-controller="ModeratorSectionReview" asp-action="ReviewPageAnswers" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceNumber="@sequence.SequenceNumber" asp-route-sectionNumber="@currentSection.SectionNumber" class="govuk-link">@currentSection.LinkTitle</a>
                                            }
                                        </span>
                                        @if (!string.IsNullOrWhiteSpace(currentSection.Status))
                                        {
                                            var cssModifierClassName = Model.GetStatusCss(currentSection.Status);
                                            <strong class="govuk-tag @cssModifierClassName das-no-wrap">@currentSection.Status</strong>
                                        }
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">6. </span>Moderation outcome
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name app-task-list__task-name--inactive">
                                    @if (Model.IsReadyForModeratorConfirmation)
                                    {
                                        <a asp-controller="ModeratorOutcome" asp-action="ViewOutcome" asp-route-applicationId="@Model.ApplicationId">Confirm moderation outcome</a>
                                    }
                                    else
                                    {
                                        <text>Confirm moderation outcome</text>
                                    }
                                </span>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    }*@
</main>