@using SFA.DAS.RoatpAssessor.Web.ApplyTypes.Enums;
@using SFA.DAS.RoatpAssessor.Web.ViewModels

@model SFA.DAS.RoatpAssessor.Web.ViewModels.ModeratorReviewAnswersViewModel

@{
    ViewBag.Title = $"Moderator - {Model.Heading}";
    Layout = "_Layout";
}

<partial name="~/Views/ModeratorSectionReview/Pages/_Breadcrumb.cshtml" for="@Model" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="~/Views/Shared/Partials/_ValidationSummary.cshtml" />

            <span class="govuk-caption-xl">
                @Model.Caption
            </span>
            <h1 class="govuk-heading-xl">@Model.Heading</h1>

            <partial name="~/Views/Shared/Pages/_ApplicationSummary.cshtml" for="@Model" />
        </div>
    </div>

    @if (Model.TabularData != null && Model.TabularData.Any())
    {
        foreach (var item in Model.TabularData)
        {
            <partial name="~/Views/Shared/Pages/_TabularData.cshtml" for="@item" />
        }
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                @{
                    var tableSpacingCssClass = Model.GuidanceInformation != null && Model.GuidanceInformation.Any() ? "" : "govuk-!-margin-bottom-9";
                    <table class="govuk-table @tableSpacingCssClass">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Application question</th>
                                <th class="govuk-table__header das-no-wrap" scope="col">Applicant's answer</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var question in Model.Questions)
                            {
                                var answer = Model.Answers.SingleOrDefault(pg => pg.QuestionId == question.QuestionId)?.Value;

                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">@Html.Raw(question.Label)</th>
                                    <td class="govuk-table__cell">
                                        @switch (question.InputType)
                                        {
                                            case QuestionInputType.FileUpload:
                                                <a class="govuk-link" asp-controller="Download" asp-action="DownloadFile" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceNo="@Model.SequenceNumber" asp-route-sectionNo="@Model.SectionNumber" asp-route-pageId="@Model.PageId" asp-route-questionId="@question.QuestionId" asp-route-filename="@answer">@answer</a>
                                                break;
                                            case QuestionInputType.CheckboxList:
                                            case QuestionInputType.ComplexCheckboxList:
                                                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                                                    @foreach (var selectedAnswer in answer.Split(','))
                                                    {
                                                        <li>@selectedAnswer</li>
                                                    }
                                                </ul>
                                                break;
                                            default:
                                                @if (!string.IsNullOrWhiteSpace(question.InputPrefix))
                                                {
                                                    <span>@Html.Raw(question.InputPrefix)</span>
                                                }
                                                @answer
                                                @if (!string.IsNullOrWhiteSpace(question.InputSuffix))
                                                {
                                                    <span>@Html.Raw(question.InputSuffix)</span>
                                                }
                                                break;
                                        }
                                    </td>
                                </tr>
                                if (question.Options != null && question.Options.Any())
                                {
                                    var furtherQuestionsViewModel = new FurtherQuestionsViewModel
                                    {
                                        Options = question.Options,
                                        Answers = Model.Answers
                                    };
                                <partial name="~/Views/Shared/Partials/_FurtherQuestionAnswers.cshtml" for="@furtherQuestionsViewModel" />
                                }
                            }

                            @foreach (var supplementaryInformation in Model.SupplementaryInformation)
                            {
                                var question = supplementaryInformation.Question;
                                var answer = supplementaryInformation.Answer?.Value;

                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">@Html.Raw(question.Label)</th>
                                    <td class="govuk-table__cell">
                                        @switch (question.InputType)
                                        {
                                            case QuestionInputType.FileUpload:
                                                <a class="govuk-link" asp-controller="Download" asp-action="DownloadFile" asp-route-applicationId="@supplementaryInformation.ApplicationId" asp-route-sequenceNo="@supplementaryInformation.SequenceNumber" asp-route-sectionNo="@supplementaryInformation.SectionNumber" asp-route-pageId="@supplementaryInformation.PageId" asp-route-questionId="@question.QuestionId" asp-route-filename="@answer">@answer</a>
                                                break;
                                            case QuestionInputType.CheckboxList:
                                            case QuestionInputType.ComplexCheckboxList:
                                                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                                                    @foreach (var selectedAnswer in answer.Split(','))
                                                    {
                                                        <li>@selectedAnswer</li>
                                                    }
                                                </ul>
                                                break;
                                            default:
                                                @if (!string.IsNullOrWhiteSpace(question.InputPrefix))
                                                {
                                                    <span>@Html.Raw(question.InputPrefix)</span>
                                                }
                                                @answer
                                                @if (!string.IsNullOrWhiteSpace(question.InputSuffix))
                                                {
                                                    <span>@Html.Raw(question.InputSuffix)</span>
                                                }
                                                break;
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    }

    @if (Model.GuidanceInformation != null && Model.GuidanceInformation.Any())
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <details class="govuk-details govuk-!-margin-bottom-9">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            View application guidance
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <ul class="govuk-list">
                            @foreach (var guidanceText in Model.GuidanceInformation)
                            {
                                <li>
                                    @Html.Raw(guidanceText)
                                </li>
                            }
                        </ul>
                    </div>
                </details>
            </div>
        </div>
    }

    <partial name="~/Views/Shared/Pages/_BlindAssessmentOutcome.cshtml" for="@Model.BlindAssessmentOutcome" />

    @if (Model.ApplicationId != Guid.Empty)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="js-disable-on-submit" method="post" asp-action="ReviewPageAnswers" asp-controller="ModeratorSectionReview">
                    <input type="hidden" asp-for="ApplicationId" />
                    <input type="hidden" asp-for="SequenceNumber" />
                    <input type="hidden" asp-for="SectionNumber" />
                    <input type="hidden" asp-for="PageId" />
                    <input type="hidden" asp-for="NextPageId" />
                    <input type="hidden" asp-for="Heading" />

                    <partial name="~/Views/ModeratorSectionReview/Pages/_ApprovalSection.cshtml" for="@Model" />

                    <button class="govuk-button govuk-!-margin-right-3" type="submit">Save and continue</button>
                    @if (!string.IsNullOrEmpty(Model.NextPageId))
                    {
                        <a id="skip" class="govuk-link govuk-link--no-visited-state das-inline-button-link" asp-action="ReviewPageAnswers" asp-controller="ModeratorSectionReview" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceNumber="@Model.SequenceNumber" asp-route-sectionNumber="@Model.SectionNumber" asp-route-pageId="@Model.NextPageId">Skip this question</a>
                    }
                    else
                    {
                        <a id="skip" class="govuk-link govuk-link--no-visited-state das-inline-button-link" asp-action="ViewApplication" asp-controller="ModeratorOverview">Skip this question</a>
                    }
                </form>
            </div>
        </div>
    }
</main>