@using SFA.DAS.RoatpAssessor.Web.Extensions
@using SFA.DAS.RoatpAssessor.Web.ApplyTypes

@model SFA.DAS.RoatpAssessor.Web.ViewModels.AssessorApplicationViewModel

@{
    ViewBag.Title = "Assessor evaluation";
    Layout = "_Layout";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Home">RoATP applications</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Home/Outcome">Outcome</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Application assessment overview</li>
    </ol>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Application assessment overview</h1>

            <dl class="govuk-summary-list">
                @if (!string.IsNullOrWhiteSpace(Model.Ukprn))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            UKPRN
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Ukprn
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.OrganisationName))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Legal name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationName
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.ApplicationRoute))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Provider route
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ApplicationRoute
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.ApplicationReference))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Application reference
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ApplicationReference
                        </dd>
                    </div>
                }
                @if (Model.SubmittedDate.HasValue)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Application submitted date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.SubmittedDate.ToSfaShortDateString()
                        </dd>
                    </div>
                }
                @if (true)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Assessor 1
                        </dt>
                        <dd class="govuk-summary-list__value">
                            TO DO
                        </dd>
                    </div>
                }
                @if (true)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Assessor 2
                        </dt>
                        <dd class="govuk-summary-list__value">
                            TO DO
                        </dd>
                    </div>
                }
                @if (true)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Moderator
                        </dt>
                        <dd class="govuk-summary-list__value">
                            TO DO
                        </dd>
                    </div>
                }
                @if (true)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Outcome made date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @DateTime.Now.ToSfaShortDateString()
                        </dd>
                    </div>
                }
                @if (true)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Outcome
                        </dt>
                        <dd class="govuk-summary-list__value">
                            TO DO
                        </dd>
                    </div>
                }
            </dl>
        </div>
    </div>

    @if (Model.Sequences.Any())
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <ol class="app-task-list">
                    @{ var index = 0; }
                    @foreach (var sequence in Model.Sequences)
                    {
                        index++;
                        <li>
                            <h2 class="app-task-list__section">
                                <span class="app-task-list__section-number">@index. </span>@sequence.SequenceTitle
                            </h2>
                            <ul class="app-task-list__items">
                                @foreach (var currentSection in sequence.Sections)
                                {
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name app-task-list__task-name--inactive">
                                            @if (currentSection.Status != null && currentSection.Status.Equals(SectionReviewStatus.NotRequired))
                                            {
                                                @currentSection.LinkTitle
                                            }
                                            else
                                            {
                                                // TODO: Integrate with 'Section Review' action
                                                <a class="govuk-link" href="#">@currentSection.LinkTitle</a>
                                            }
                                        </span>
                                        @if (!string.IsNullOrWhiteSpace(currentSection.Status))
                                        {
                                            @if (!currentSection.Status.Equals(SectionReviewStatus.New))
                                            {
                                                var cssModifierClassName = currentSection.Status.ToLower().Replace(" ", "");
                                                <strong class="govuk-tag app-task-list__task-@cssModifierClassName das-no-wrap">@currentSection.Status</strong>
                                            }
                                        }
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ol>
            </div>
        </div>
    }
</main>