@using SFA.DAS.RoatpAssessor.Web.Extensions
@using SFA.DAS.RoatpAssessor.Web.ApplyTypes

@model SFA.DAS.RoatpAssessor.Web.ViewModels.ReviewAnswersViewModel

@{
    ViewBag.Title = $"Assessor - {@Model.Heading}";
    Layout = "_Layout";
}

<partial name="~/Views/Home/Pages/_Breadcrumb.cshtml" for="@Model" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="~/Views/Home/Pages/_ValidationSummary.cshtml" for="@Model" />

            <span class="govuk-caption-xl">
                @Model.Caption
            </span>

            <h1 class="govuk-heading-xl">@Model.Heading</h1>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        ApplicationId
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ApplicationId
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        SequenceNumber
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.SequenceNumber
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        SectionNumber
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.SectionNumber
                    </dd>
                </div>
            </dl>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                @if (!string.IsNullOrWhiteSpace(string.Empty))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            UKPRN
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Model.Ukprn
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(string.Empty))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Legal name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Model.OrganisationName
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(string.Empty))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Provider route
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Model.ApplicationRouteShortText
                        </dd>
                    </div>
                }
                @if (true)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Submitted date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Model.SubmittedDate.ToSfaShortDateString()
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(string.Empty))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Application reference number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Model.ApplicationReference
                        </dd>
                    </div>
                }
            </dl>
        </div>
    </div>

    <p class="govuk-body">
        <a asp-controller="Home" asp-action="ViewApplication" asp-route-applicationId="@Model.ApplicationId" class="govuk-link">Back to application assessment overview</a>
    </p>

</main>