@using SFA.DAS.RoatpAssessor.Web.Extensions
@using SFA.DAS.RoatpAssessor.Web.ApplyTypes

@model SFA.DAS.RoatpAssessor.Web.ViewModels.ReviewAnswersViewModel

@{
    ViewBag.Title = $"Assessor - {@Model.Heading}";
    Layout = "_Layout";
}

<partial name="~/Views/Home/Pages/_Breadcrumb.cshtml" for="@Model" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="~/Views/Home/Pages/_ValidationSummary.cshtml" for="@Model" />

            <span class="govuk-caption-xl">
                @Model.Caption
            </span>

            <h1 class="govuk-heading-xl">@Model.Heading</h1>

            <partial name="~/Views/Home/Pages/_ApplicationSummary.cshtml" for="@Model" />

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        ApplicationId
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ApplicationId
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        SequenceNumber
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.SequenceNumber
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        SectionNumber
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.SectionNumber
                    </dd>
                </div>
            </dl>

        </div>
    </div>


    @if (Model.ApplicationId != Guid.Empty)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="js-disable-on-submit" asp-action="" asp-controller="">
                    <input type="hidden" asp-for="ApplicationId" />
                    @* Plus any others... *@

                    <partial name="~/Views/Home/Pages/_ApprovalSection.cshtml" for="@Model" />

                    <button class="govuk-button" type="submit">Save and continue</button>
                </form>
            </div>
        </div>
    }

    <p class="govuk-body">
        <a asp-controller="Home" asp-action="ViewApplication" asp-route-applicationId="@Model.ApplicationId" class="govuk-link">Back to application assessment overview</a>
    </p>

</main>