@using SFA.DAS.RoatpAssessor.Web.ApplyTypes.Assessor; 
@model SFA.DAS.RoatpAssessor.Web.ApplyTypes.Moderator.BlindAssessmentOutcome

@{
    var assessor1CssModifierClassName = AssessorPageReviewStatus.Pass.Equals(Model.Assessor1ReviewStatus) ? "das-tag--solid-green" : "das-tag--solid-red";
    var assessor2CssModifierClassName = AssessorPageReviewStatus.Pass.Equals(Model.Assessor2ReviewStatus) ? "das-tag--solid-green" : "das-tag--solid-red";
}

<div class="govuk-grid-column-full govuk-!-margin-bottom-9">
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-heading-m">Outcome of blind assessment</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header das-!-width-one-fifth"></th>
                <th class="govuk-table__header das-!-width-two-fifths">@Model.Assessor1Name</th>
                <th class="govuk-table__header das-!-width-two-fifths">@Model.Assessor2Name</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Outcome</th>
                <td class="govuk-table__cell"><strong class="das-tag @assessor1CssModifierClassName">@Model.Assessor1ReviewStatus</strong></td>
                <td class="govuk-table__cell"><strong class="das-tag @assessor2CssModifierClassName">@Model.Assessor2ReviewStatus</strong></td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Internal comments</th>
                <td class="govuk-table__cell">@Model.Assessor1ReviewComment</td>
                <td class="govuk-table__cell">@Model.Assessor2ReviewComment</td>
            </tr>
        </tbody>
    </table>
</div>